@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
* {
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
a,
ul,
li {
  text-decoration: none;
  color: inherit;
  list-style-type: none;
}
img {
  width: 100%;
}
svg {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  background-color: #000;
  color: rgba(255, 255, 255, 0.8);
}
.container {
  max-width: 1130px;
  margin-inline: auto;
  padding-inline: 15px;
}
