@media (max-width: 728px) {
  .header {
    position: relative;
    padding-top: 15px;
    // .header__nav
    &__nav {
      padding: 0;
      justify-content: space-between;
    }
    // .header__logo
    &__logo {
    }
    // .header__list
    &__list {
      // margin-top: -100%;
      visibility: hidden;
      opacity: 0;
      position: absolute;
      background-color: transparent;
      top: -100%; /* начальная позиция */
      transition: opacity 0.3s ease, top 0.8s ease;
    }
    &__list.active {
      display: flex;
      visibility: visible;
      opacity: 1;
      margin-top: 0;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #fff;
      z-index: 2;
      opacity: 1;
    }
    // .header__item
    &__item {
    }
    // .header__link
    &__link {
      color: #000;
      :hover {
        color: rgba(225, 225, 225, 0.1);
      }
    }
    &__menu-burger {
      display: flex;
      z-index: 99;
    }
  }

  .main__venom {
    top: 100px;
    z-index: 1;
  }
}
@media (max-width: 425px) {
  .main {
    &__title {
      margin-bottom: 15px;
    }
    &__btns {
      display: flex;
      flex-direction: column;
      &btns__see-trailer {
        margin-bottom: 15px;
      }
    }
  }
}
