@media (max-width: 728px) {
  .header {
    position: relative;
    padding-top: 15px;
    // .header__nav
    &__nav {
      padding: 0;
      justify-content: space-between;
    }
    // .header__logo
    &__logo {
    }
    // .header__list
    &__list {
      display: none;
      margin-left: 100%;
      transition: all 1s ease;
    }
    &__list.active  {
      margin-left: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #fff;
      z-index: 2;
    }
    // .header__item
    &__item {
    }
    // .header__link
    &__link {
      color: #000;
    }
    &__menu-burger {
      display: flex;
      z-index: 99;
    }
  }

  .main__venom {
    top: 100px;
    z-index: 1;
  }
}
@media (max-width: 425px){
  .main{
    &__title{
      margin-bottom: 15px;
    }
    &__btns{
      display: flex;
      flex-direction: column;
      &btns__see-trailer{
        margin-bottom: 15px;
      }
    }
  }
}